    <head>
        <style>
            footer{
                position: absolute;
                
                top: 97%;
                width: 70%;
            }
        </style>
    </head>
    
    <footer>
      
        <p>Created by Dr. Jacques - Copyright @{{currentYear}}</p>
    </footer>