<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>about RURA</title>

        <!Styles for about page !>
        <style>
            .about-text{
                position: absolute;
                top: 16%;
                left: 16%;
                height: 45%;
            }

            .footer{
                position: absolute;
                left: 30%;

            }

        </style>
    </head>

    <body>

        <section>
            {{> header}}
        </section>
        
        <section class="about-text">
            <div>

                <p>This system to connect 6 e-ticketing systems (Innovys, Kenzh, LAP, Reintegrata, Centrica,
                    AC Group) and 7 speed Governor systems from (Akagera Business Group Ltd, Beno Cars Ltd,
                    Jenddie Automobiles Ltd, Mala N.E.C Ltd, Pascal Technology Ltd, Paymatic Ltd, 
                    Sator Rwanda Ltd). 
                </p>
            </div>

        </section>

    </body>

    <footer class="footer">
        {{> footer}}
    </footer>


</html>