<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>companies</title>

        <style>

            .c-companies{
                position: absolute;
                left: 30%;
                top: 16%;
            }

              .footer{
                position: absolute;
                left: 30%;

            }
        </style>
    </head>

    <body>

        <section>
            <div>
                {{> header}}

            </div>
        </section>

        <section class="c-companies">
            <div>
                <p>All companies:</p>
        
                <ul>
                    <li>RITICO</li>
                    <li>JUMA</li>
                    <li>RITA</li>
                    <li>RAKIM</li>
                    <li>ROMALIS LTD</li>
                    <li>EXCEL</li>
                    <li>FIDELITY EXPRESS</li>
                    <li>DIFFERENT EXPRESS</li>
                    <li>CAMEL EXPRESS</li>
                    <li>KIVU BELT</li>
                    <li>KIGALI COACH</li>
                    <li>LACOLOMBE EXPRESS</li>
                    <li>EAST AFRICAN BUS AND TRAVEL LTD</li>
                </ul>


            </div>
        </section>
        

    </body>

    <footer class="footer">
        {{> footer}}
    </footer>


</html>